.article-li{
    list-style-type: circle;
}

.date{
    font-size: 12px;
    padding-right: 40px;
}

.ul{
    padding: 0 60px 0 60px;
    margin-top: 50px;
}

.topinfo{
    text-align: center;
    margin-bottom: 20px;
}

#catname{
    animation-iteration-count: 10;
}

.cat{
    color: rgba(187,187,187,0.8);
    font-size: 15px;
    font-weight: bold;
}

#catname{
    font-size: 25px;
    padding-left: 10px;
    padding-right: 5px;
}

.icon{
    padding-right: 10px;
    border-right: 0.5px solid rgba(169,169,169,0.8);
}

.count{
    text-align: center;
}

.count-span{
    color: rgba(187,187,187,1);
}
